<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
   <link rel="stylesheet" href="/output.css" />
  </head>

  <body class="bg-orange-400 min-h-screen">

    <%- include('../partials/nav') %>

    <div class="flex flex-col items-center justify-center text-center mt-32">

      
      <header>
        <h1 class="text-4xl font-bold mb-6">
          Welcome to airbnb
        </h1>
      </header>

     
      <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin: 20px;">

        <% registeredHomes.forEach(home => { %>

          <div style="
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 250px;
            padding: 20px;
            margin: 10px;
            background-color: orange;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            text-align: center;
          ">

            <img src="<%=home.photo%>"
              alt="home image"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 8px;
                margin-bottom: 10px;
              " />

            <h3 style="margin: 10px 0;"><%= home.name %></h3>

            <p style="margin: 5px 0;"><strong>Price:</strong> ₹<%= home.price %></p>
            <p style="margin: 5px 0;"><strong>Location:</strong> <%= home.location %></p>
            <p style="margin: 5px 0;"><strong>Rating:</strong> ⭐ <%= home.rating %></p>
   
  <a href="/home/<%=home.id%>" class="hover:text-red-500">  Home Detail</a>

<form 
        action="/host/favourites/<%=home.id%>" 
        method="POST"
       
      >

       
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300"
        >
         add to favourites
        </button>

      </form>
  <form action="/host/delete/<%=home.id%>" method="POST">
            <button type="submit">deleat</button>
          </form>
          </div>

        <% }) %>

      </div>

     
      <main class="mt-4">
        <a href="/host/add-home"
           class="bg-white text-black px-6 py-2 rounded shadow border border-gray-400 hover:bg-gray-100">
          Add Home
        </a>
      </main>

    </div>

  </body>
</html>